.comment-form {
    margin-top: 3em;
      border-radius: 14px !important;
      padding: 2em;
    width: 90%;
    height: fit-content;
    color: #fff;
    background-color: #035041;
    h1 {
        margin-bottom: .6em;
    }
    button {
        margin-top: 1em;
    }
}